td,
th {
    border: 1px solid rgb(228, 240, 245);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(237,238,242);
}

th[scope="col"] {
    background-color: rgb(100,100,100);
    color: #fff;
}

th[scope="row"] {
    background-color: rgb(228, 24,245);
}

caption {
    padding: 10px;
    caption-side: top;
}

table {
    border-collapse: collapse;
    border: 2px solid red;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}
